.recipe-preview {
  width: 300px;
  height: 250px;
  margin: 25px;
  padding: 13px;
  text-align: center;
  border: 5px solid purple;
  border-radius: 10px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: purple;
  border-radius: 5px;
  cursor: pointer;
  color: aliceblue;
}

